header > div {
  display: flex;
  align-items: center; /* alt på samme lodrette linje */
  justify-content: center; /* Sætter det i midten */
  padding: 10px 40px;
}

header {
  position: sticky; /*headeren sidder fast i toppen af skræmen */
  top: 0; /* headeren klistre i 0=toppen */
  z-index: 9999; /* headeren ligger i lag 9999. Høj værdi=forrest*/
  display: flex; /* Gør så logo og burger kan være på samme linje*/
  align-items: center; /* Sætter det i midten lodret*/
  justify-content: center; /* logo i midten */
  padding: 20px;
  background-color: #faf8f5;
  border-bottom: 3px solid #151311;
}

.div_logo {
  display: flex;
  justify-content: center; /* centrer vandret */
  text-decoration: none; /* fjerner link streg */
}

.div_logo a {
  text-decoration: none; /* fjerne link streg på alle <a>-tags INDENI .div_logo */
}

nav {
  display: block;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px; /* luften til højre i menu listen */
}

.menu a .menu  /* <a>-links, der ligger INDENI i .menu (om mig og portofolie)*/ {
  display: flex;
  padding: 10px;
  color: #333333;
  text-decoration: none; /* fjerner understregning */
  transition: color 0.3s;
  text-align: left;
}

.menu a:hover {
  color: #e6a1c7;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 20px; /* matcher header padding */
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #151311;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  display: none; /* Skjuler menuen */
}

.burger {
  display: block; /* Viser burger menu */
  background-color: transparent;
  border: 0;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active .line:nth-child(2) {
  opacity: 0;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav.active .menu {
  display: block; /* Vis menuen, når nav er aktiv */
  background-color: #faf8f5;
  position: absolute;
  top: 94px; /* Justér efter din header højde */
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 20px; /* Mellemrum mellem listeelementer */
}

nav.active .menu a {
  font-size: 24px; /* Størrelse på links i mobile visning */
}

/* Desktop version start */

@media screen and (min-width: 800px) {
  :root {
    --gap: 24px;
    --pad: 32px;
  }
  .menu {
    display: flex; /* viser menuen */
    justify-content: center; /* Sætter det i midten */
    margin-top: 20px; /* luft fra toppen */
    gap: 24px;
  }

  .menu li a {
    text-decoration: none; /* Fjerner link streg fra en <li> <a> tag */
  }

  .burger {
    display: none; /* skjuler burgermenuen*/
  }

  header {
    justify-content: space-between;
    display: block;
  }
}

/* Desktop version slut */
