.section_projekt {
  display: grid;
  max-width: 100vw;
}

.section_projekt {
  display: flex;
  flex-direction: column; /* tekst skal ligge over billede */
  align-items: center; /* centrerer vandret */
  text-align: center; /* centrerer teksten */
  padding: 20px; /* generelt luft rundt om */
}

main {
  max-width: 1500px;
  padding: 50px;
}
.div_overskrift {
  padding-left: 20px;
  background-color: #ffe9f5;
}

h4 {
  padding-left: 20px;
}

.pil {
  padding-left: 20px;
}

.div_tekst {
  max-width: 60ch; /* Sørger for der er 60 tegn pr linje = UX design */
  padding: 20px; /* generelt luft rundt om */
}

.img_projekt {
  max-width: 300px; /* Giver billedet en max størelse */
}

.div_knapper {
  padding-left: 18%;
  padding-right: 18%;
}

.knap_portofolie {
  background: #ffe9f5;
  color: #151311;
  padding: 10px; /* ændrer på luften i højden i knappen*/
  width: 200px; /* ændrer bredden */
  text-align: center; /* centrer tekst */
  border-radius: 20px; /* streg rundt om knappen */
  border: 1px solid; /* sort/solid streg rundt om knappen */
  text-decoration: none; /* Fjerner link stregen */
  display: inline-block;
  margin: 10px; /* ændrer på luften i højden udenfor knappen*/
}

@media screen and (min-width: 800px) {
  :root {
    --gap: 24px;
    --pad: 32px;
  }
  .section_projekt {
    flex-direction: row; /* tekst skal ligge vandret ved siden af billede */
    min-width: 80%;
    padding-left: 12%;
  }

  .img_projekt {
    max-width: 600px; /* Giver billedet en max størelse */
  }

  .div_overskrift {
    padding-left: 50px;
  }

  h4 {
    padding-left: 50px;
  }

  .div_knapper {
    padding-left: 14%;
    padding-right: 14%;
  }
}
